@page "/budgets"
@using BudgetApp.Client.Enumerations

<PageTitle>Budgets</PageTitle>
<CascadingValue Value="BudgetsPageViewModel">
    <div class="container">
        <div class="hstack gap-2 mb-4">
            <h1 class="me-auto">Budgets</h1>
            <Button Variant="ButtonVariant.Primary"
                    @onclick="() => _addBudgetModal.Show()">
                Add Budget
            </Button>
            <Button Variant="ButtonVariant.OutlinePrimary"
                    @onclick="() => _addExpenseModal.Show()">
                Add Expense
            </Button>
        </div>
        <div style="display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                    gap: 1rem;
                    align-items: flex-start;">
            @foreach (var budget in BudgetsPageViewModel.Budgets)
            {
                <BudgetCard Name="@budget.Name"
                            Amount="@BudgetsPageViewModel.GetBudgetExpensesAmount(budget.Id)"
                            Max="@budget.Max" />
            }
        </div>
    </div>
    <AddBudgetModal @ref="_addBudgetModal" />
    <AddExpenseModal @ref="_addExpenseModal" />
</CascadingValue>